<nav class="c-primary-nav" role="navigation">

	<ul class="c-primary-nav__list c-primary-nav__list--flush js-nav-panel" role="tablist" aria-multiselectable="true">

		{% include navigation-item.html path='/index.html' label='Úvod' %}

		{% include navigation-item.html path='/getting-started.html' label='Začínáme' %}

		{% include navigation-item.html group='guidelines' label='Pravidla' %}

		{% include navigation-item.html group='styles' label='Styly' %}

		{% include navigation-item.html group='components' label='Komponenty' %}

		{% include navigation-item.html group='page-templates' label='Šablony stránek' %}

		{% include navigation-item.html path='/resources.html' label='Zdroje' %}

		{% include navigation-item.html path='/contribute.html' label='Přispějte' %}

	</ul><!-- end c-nav__list -->

</nav><!-- end c-nav -->
